@charset "UTF-8";

li {
	list-style: none;
}

.err_msg {
	color: darkred;
}
.normal_msg {
	color: mediumblue;
}

.header {
	width: 100%;
	display: block;
	position: fixed;
	top:0;
	background-color: #333;
	color: #ddd;
}
.header ul {
	display: flex;
}

.header ul li {
	margin-left: 1em;
	transition: .3s opacity;
}
.header ul li:hover {
	opacity: .7;
}

.h_wrap {
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;	
}

.header h1 {
	font-size: 40px;
}
.header h1 a { 
	-o-transition: .3s all;
	-moz-transition: .3s all;
	-webkit-transition: .3s all;
	transition: .3s all;
}
.header h1 a:hover {
	opacity: .7;
}

.content {
	max-width: 1000px;
	margin: 150px auto;
}

.content li {
	display: block;
	margin: 30px 0 40px;
	padding: 10px 20px;
}

.content .c_title {
	padding: 10px;
	border-left: 8px solid #777;
	font-size: 25px;
}

.blog_wrap {
    max-width: 880px;
    margin: 20px auto;
}

.content .c_img {
	width: 30%;	
	margin-bottom: 15px;
}

.content .c_title > p {
	font-size: 25px;
}

.content .c_text {
	padding: 10px;
}


.content .good_author_wrap {
	display: flex;
	justify-content: space-between;
}
.content .good_author_wrap div:first-child {
	display: flex;
}
.content .heart {
	width: 1em !important;
	height : 1em !important;
	margin-right: 5px;
	vertical-align: top;
}
.content .good,
.content .good .hert path {
	-o-transition: .3s all;
	-moz-transition: .3s all;
	-webkit-transition: .3s all;
	transition: .3s all;
}
.content .good:hover {
	cursor: pointer;
	opacity: .7;
}
.content .good:active {
	opacity: 1;
}
.content .good.active .heart path {
	fill: rgb(255, 142, 174) !important;
}
.content .good.active {
	color: rgb(255, 142, 174);
}
.content .good_result {
	margin-left: .5em;
}

.content .c_author_wrap {
	display: flex;
	justify-content: flex-end;
}
.content .c_author_wrap > span,
.content .c_author_wrap > a {
	margin-left: 1em;
}
.content .c_author_wrap > a {
	color: #560bad;
	transition: .3s opacity;
}
.content .c_author_wrap > a:hover {
	opacity: .7;
}


/*ページネーション*/
.paginate {
	margin: 80px auto;
	display: flex;
	justify-content: center;
}
.paginate li {
	display: inline-block;
	margin: 0 1em;
	padding: 0;
}
.paginate a {
	color: mediumblue;
	-o-transition: .3s all;
	-moz-transition: .3s all;
	-webkit-transition: .3s all;
	transition: .3s all;
}
.paginate a:hover {
	opacity: .8;
}
