@charset "UTF-8";

li {
	list-style: none;
}

.err_msg {
	color: darkred;
}
.normal_msg {
	color: mediumblue;
}

.header {
	width: 100%;
	display: block;
	position: fixed;
	top:0;
	background-color: #333;
	color: #ddd;
	z-index:100;
}
.header ul {
	display: flex;
}

.header ul li {
	margin-left: 1em;
	transition: .3s opacity;
}
.header ul li a {
	-o-transition: .3s opacity;
	-moz-transition: .3s opacity;
	-webkit-transition: .3s opacity;
	transition: .3s opacity;
}
	
.header ul li:hover a {
	opacity: .7;
}

.h_wrap {
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;	
}

.header h1 {
	font-size: 40px;
}
.header h1 a { 
	-o-transition: .3s all;
	-moz-transition: .3s all;
	-webkit-transition: .3s all;
	transition: .3s all;
}
.header h1 a:hover {
	opacity: .7;
}

.content {
	max-width: 1000px;
	margin: 150px auto;
}

.content li {
	display: block;
	margin: 30px 0 40px;
	padding: 10px 20px;
}

.content .c_title {
	padding: 10px;
	border-left: 8px solid #777;
	font-size: 25px;
}

.blog_wrap {
    max-width: 880px;
    margin: 20px auto;
}
.content .modal {
	max-width: 30vw;
	max-height: 30vw;
	margin-bottom: 15px;
}
.content .modal .modal_close,
.content .modal .modal_back  {
	opacity: 0;
}
.content .modal.active {
	width: 100%;
	height: 100vh;
    max-width: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 200;
}
.content .modal.active .modal_back {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
    cursor: pointer;
}
.content .modal.active .modal_img_wrap {
    width: auto;
	height: auto;
    max-width: 80vw;
    max-height: 85vh;
    position: absolute;
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 100;
}
.content .modal.active img {
    width: auto;
    height: auto;
    max-width: 80vw;
    max-height: 85vh;
    cursor: default;
}
.content .modal.active .modal_close {
	display: block;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 1;
    z-index: 110;
    cursor: pointer;   
	-o-transition: .3s all;
	-moz-transition: .3s all;
	-webkit-transition: .3s all;
	transition: .3s all;

}
.content .modal.active .modal_close:hover {
	opacity: .6;
}
.content .modal.active .modal_close > span {
	display: block;
	width: 25px;
	height:4px;
	border-radius: 2px;
	background-color: #ddd;
	position: absolute;
    top: 50%;
    left: 50%;
}
.content .modal.active .modal_close > span:first-child {
    -o-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}
.content .modal.active .modal_close > span:nth-child(2) {
	
    -o-transform: translate(-50%, -50%) rotate(-45deg);
    -moz-transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);	
}
/*html要素のオーバーフローyをオフにする（モーダルウィンドウ表示時*/
#html.modal_html {
	 overflow-y: hidden;
}



.content .modal.active:hover {
	background-color: rgba(0,0,0,.7);
}
.content .modal.active:hover img {
	opacity: 1;
/*	z-index: 10;*/
}
.content .modal img {
	max-width: 30vw;
	max-height: 30vw;
	-o-transition: .3s all;
	-moz-transition: .3s all;
	-webkit-transition: .3s all;
	transition: .3s all;
	cursor: pointer;
}
.content .modal img:hover {
	opacity: .8;
}



.content .c_title > p {
	font-size: 25px;
}

.content .c_text {
	padding: 10px;
}


.content .good_author_wrap {
	display: flex;
	justify-content: space-between;
}
.content .good_author_wrap div:first-child {
	display: flex;
}
.content .heart {
	width: 1em !important;
	height : 1em !important;
	margin-right: 5px;
	vertical-align: top;
}
.content .good,
.content .good .hert path {
	-o-transition: .3s all;
	-moz-transition: .3s all;
	-webkit-transition: .3s all;
	transition: .3s all;
}
.content .good:hover {
	cursor: pointer;
	opacity: .7;
}
.content .good:active {
	opacity: 1;
}
.content .good.active .heart path {
	fill: rgb(255, 142, 174) !important;
}
.content .good.active {
	color: rgb(255, 142, 174);
}
.content .good_result {
	margin-left: .5em;
}

.content .c_author_wrap {
	display: flex;
	justify-content: flex-end;
}
.content .c_author_wrap > span,
.content .c_author_wrap > a {
	margin-left: 1em;
}
.content .c_author_wrap > a {
	color: #560bad;
	transition: .3s opacity;
}
.content .c_author_wrap > a:hover {
	opacity: .7;
}


/*ページネーション*/
.paginate {
	margin: 80px auto;
	display: flex;
	justify-content: center;
}
.paginate li {
	display: inline-block;
	margin: 0 1em;
	padding: 0;
}
.paginate a {
	color: mediumblue;
	-o-transition: .3s all;
	-moz-transition: .3s all;
	-webkit-transition: .3s all;
	transition: .3s all;
}
.paginate a:hover {
	opacity: .8;
}


.top_btn {
	width: 5vw;
	max-width: 60px;
	min-width: 45px;
	position: fixed;
	bottom: 20px;
	right: 15px;
	-o-transition: .3s all;
	-moz-transition: .3s all;
	-webkit-transition: .3s all;
	transition: .1s all;
	cursor: pointer;
	opacity: .7;
}
.top_btn:hover {
	opacity: 1;
    filter: drop-shadow(2px 7px 3px gray);
    -o-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}
.top_btn:active {
	opacity: .7;
	filter: drop-shadow(1px 2px 3px gray);
	    -o-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}
.transparent {
	opacity: 0;
}







